{% extends "base.html"%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% load bootstrap3 %}
{% bootstrap_css %}
{% load staticfiles %}
{% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'iTunesReviews/style.css' %}" />

{%block scripts%}
<script language = "JavaScript">
  window.onload = function(){
    var x = document.getElementById("idfinder");
    x.className = "active";
  }
</script>
{%endblock%}

{% block content %}

  <div class="clean_background">
    <div>
      <form class="form-inline" name = "search" action="{% url 'iTunesReviews:search' %}" method="post">
        {% csrf_token %}
        <div class ="row" id="search">
          <div class="col-md-2"><label for="your_name">Search by name for iTunes id </label></div>
          <div class="col-md-2"><input id="searchBox" class="form-control" type="text" name="name" value="{{SearchTerm}}"></div>
          <div class="col-md-2"><input id="searchButton" class="btn btn-default" type="submit" value="Go"></div>
        </div>
      </form>
    </div>
    <div>
      {% if results %}
          <table class = "table table-hover">
            <tr>
              <td>iTunes id</td>
              <td>Type</td>
              <td>Artist</td>
              <td>Track Name</td>
            {% for r in results %}
              <form name = "results" action="{% url 'iTunesReviews:main' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="ID" value= {{r.0}}>
                  <tr>
                    {% for k in r %}
                      <td>
                        {%if forloop.counter == 5%}
                          <img src="{{k}}" onError="this.onerror=null;this.src='';" />
                        {% elif forloop.counter == 1 %}
                          <button class = "btn btn-default" style="font-size:100%;">
                            {{k}}
                          </button>
                        {% else %}
                          {{k|truncatechars:30}}

                        {% endif %}
                      </td>
                    {% endfor %}
                  </tr>
              </form>
              {% endfor %}
	    </tr>
          </table>
      {% endif %}
    </div>
  </div>
{%endblock%}
