Django>=1.9,<1.10
wagtail==1.7
python-dateutil==1.5
wheel==0.24.0
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
static==0.4
wsgiref==0.1.2
certifi==2015.4.28
openpyxl==2.3.0
whitenoise
django-bootstrap3
requests[security]
django-markup
textile
smartypants
docutils
markdown
python-creole
