{% extends "base.html"%}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load wagtailimages_tags %}


{% block extra_js %}
<script>
 jQuery(document).ready(function($) {
     $(".clickable-row").click(function() {
	 window.document.location = $(this).data("href");
     });
 });
</script>
{% endblock %}

{% block content %}
{% image root.main_image width-5000 as jumbo %}
{% load markup_tags %}

<div class="jumbotron podcast-header" style="background-image: url('{{ jumbo.url }}')">
    <h1>{{root.title}} </h1>
    <p></p>
    <p>{{root.description|safe|escape}}</p>
    <p></p>
</div>
<div class ="container">
    <ul class="show-list">
	{% for e in eps %}
	<li class="episode-box">
	    <div class="row panel">
		<div class="col-md-12">
		    <a class="episode-link" href="{% pageurl e %}">
			<h2 >{{ e }}</h2>
		    </a>
		</div>
		<div class="col-md-6">
		    <p> {{ e.published_date }} </p>
		    <p> {{ e.summary|apply_markup:"markdown" }} </p>
		</div>
		<div class="col-md-6">
		    <iframe frameborder='0' scrolling='no' seamless src='https://simplecast.com/e/{{e.epID}}?style=medium-light' class="small-player" ></iframe>
		</div>
	    </div>
	</li>
	{% endfor %}
    </ul>
    <ul class="pagination">
	{% if eps.has_previous %}
	<li><a href="?page={{eps.previous_page_number}}"}}>back</a></li>
	{% endif %}
	{% if eps.has_next %}
	<li><a href="?page={{eps.next_page_number}}"}}>more...</a></li>
	{% endif %}
    </ul>
</div>
{%endblock%}
