{% extends "base.html"%}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load wagtailimages_tags %}


{% block extra_js %}
<script>
 jQuery(document).ready(function($) {
     $(".clickable-row").click(function() {
	 window.document.location = $(this).data("href");
     });
 });
</script>
{% endblock %}

{% block content %}
{% image root.main_image width-5000 as jumbo %}

<div class="jumbotron podcast-header" style="background-image: url('{{ jumbo.url }}')">
    <h1>{{root.title}} </h1>
    <p></p>
    <p>{{root.description|safe|escape}}</p>
    <p></p>
</div>
<div class ="container">
    <ul class="show-list">
	{% for e in eps %}
	<a href="{% pageurl e %}">
	    <li class="episode-box">
		<div class="row panel">
		    <div class="col-md-6">
			<h2>{{ e }}</h2>
		    </div>
		    <div class="col-md-6">
			<iframe frameborder='0' scrolling='no' seamless src='https://simplecast.com/e/{{e.epID}}?style=medium-dark' width='100%'></iframe>
		    </div>
		</div>
	    </li>
	</a>
	{% endfor %}
    </ul>
</div>
{%endblock%}
