{% extends "base.html" %}
{% load staticfiles %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class = "container host-page" >
    <div class="row title-panel">
        <p> {{network.body|richtext}} </p>
    </div>
    {% for host in hosts %}
    <div class="row host-panel">
        <div class="host-inner">
            <div class="col-md-3">
                <img class="img-host" src={{host.twitter_handle}}>
            </div>
            <div class="col-md-9">
                <div class="host-details">
                    <span class="host-name">{{host.title}}</span>
                    <p> {{host.blurb|richtext}} </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
